<div class="row youtube-list-item">
  <div class="col-sm-6 col-sm-push-6">
    <div class="title"><a ng-click="clicked()" href="#/details"> {{videoData.snippet.title}} </a></div>
    <div class="published"> Published on {{videoData.snippet.publishedAt | date:'longDate'}}</div>
    <div class="description hidden-xs"> {{videoData.snippet.description | limitTo: 150}}{{videoData.snippet.description.length > 150 ? '...' : ''}}</div>
  </div>
  <div class="col-sm-6 col-sm-pull-6" >

    <a ng-click="clicked()" href="#/details">
      <img ng-src="{{videoData.snippet.thumbnails.medium.url}}" width="100%">
    </a>
  </div>
</div>
